{% extends 'ordersapp/base.html' %}
{% load static %}

{% block content %}
   <div class="admin_delete">
       <div class="h1">Are you sure you want to delete order?</div>
       {% include 'ordersapp/includes/inc_order_summary.html' %}
       <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="admin_button delete" type="submit" value="Delete">
       </form>
       <button class="admin_button cancel">
           <a href="{% url 'ordersapp:orders_list' %}">Cancel</a>
       </button>
   </div>
{% endblock %}