{% extends 'mainapp/base.html' %}
{% load static %}

{% block js %}
  
  <script src="{% static 'scripts/cart_scripts.js'%}"></script>
  <script type="text/javascript">
    window.onload = function () {
      var quantity = {{ product.quantity }};
      if (quantity - 1 < 0) {
        var buy_button = document.getElementsByClassName("red-button")[0];
        buy_button.style.pointerEvents = "none";
        buy_button.style.opacity = "0.5";
        buy_button.text = "Sorry, out of stock";
      }
    }
  </script>
{% endblock js %}

{% block content %}
<div class="hero-white">
  
  {% include 'mainapp/includes/inc_menu.html' %}
  
</div>
<div class="details-products">
  <div class="details-slider">
    <div class="slider-product">
      <img src="{{ product.image.url }}" 
      alt="{{ product.description }}"
      class="slider_product_main">
    </div>
    <div class="slider-control">
      <div class="block">
        <a href="#">
          <img src="{{ product.image.url }}"
          alt="вариант 1"
          class="slider_tiny">
        </a>
      </div>
      <div class="block">
        <a href="#">
          <img src="{{ product.image.url }}"
          alt="вариант 2"
          class="slider_tiny">
        </a>
      </div>
      <div class="block">
        <a href="#">
          <img src="{{ product.image.url }}"
          alt="вариант 3"
          class="slider_tiny">
        </a>
      </div>
    </div>
  </div>
  
  <div class="description">
    <h3 class="big-bold">{{ product.name }}</h3>
    <br>
    <p class="price"> {{ product.price }}</p>
    <a href="{% url 'cart:add' product.pk %}" class="red-button">
      Add to cart 
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    <div class="description-text">
      {{ product.description }}
    </div>
  </div>
</div>

</div>


{% endblock content %}
<div class="clearfix"></div>