{% if object.status == 'CREATED' %}
   <button class="btn btn-warning btn-round form-control last">
       <a href="{% url 'ordersapp:order_forming_complete' object.pk %}">
           Buy
       </a>
   </button>
   <button class="btn btn-default btn-round form-control last">
       <a href="{% url 'ordersapp:order_delete' object.pk %}">Delete</a>
   </button>
{% endif %}
<button class="btn btn-info btn-round form-control last">
   <a href="{% url 'ordersapp:orders_list' %}">
       To order list
   </a>
</button>
<button class="btn btn-default btn-round form-control last">
   <a href="{% url 'index' %}">Main</a>
</button>