{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="admin_delete">
    Are you sure you want to delete <b>{{ user_to_delete.username }} </b>
    {% if user_to_delete.first_name %}
      ({{ user_to_delete.first_name|title }})
    {% endif %}
    {% if user_to_delete.last_name %}
        ({{ user_to_delete.last_name|title }})
    {% endif %}
    ?
    <form action="{% url 'adminapp:delete_user' user_to_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="admin_button delete" type="submit" value="Delete">
    </form>
    <button class="admin_button cancel">
      <a href="{% url 'adminapp:users' %}">
        Cancel
      </a>
    </button>
  </div>
{% endblock %}

