<ol class="cart list">
    {% with total=user.cart.total_cart_items price=user.cart.total_price%}
    {% if total %}
    You have {{ total }} items in your cart:
    {% for item in cart %}
    {% with product=item.product  %}{% endwith %}
    <li>{{ item }} (Price: {{ product.price}}) X
        <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}" class="item_quantity">
        ={{ item.product_price }}
        <a class="delete_item" href="{% url 'cart:remove' item.id %}">Delete item.</a>
    </li>
    {% endfor %}
    <h4 class="total">Total: {{ price }}</h4>
    {% else %}
    You don't have any items in your cart yet.
    {% endif %}
    {% endwith %}
</ol>
