<div class="header clearfix">
    <a href="/" class="logo"></a>
    <ul class="menu">
        {% for el in menu %}
        <li><a href={% url el.link %}
            {% if request.resolver_match.view_name in el.active %}
            class="active"
            {% endif %}>
            {{ el.name }}
        </a>
        </li>
        {% endfor %}
    
        {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" id="dropdown">
                    {{ user.username | default:'User' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ordersapp:orders_list' %}">
                            Orders
                        </a>
                    </li>
                </ul>
            </div>     
        </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
            <a href='{% url "auth:logout" %}'>Log out</a>
            {% else %}
            <a href ='{% url "auth:login" %}'>Log in</a>
            {% endif %}
        </li>
        <li>
            {% if user.is_superuser %}
            <a href="{% url 'adminapp:users' %}">Admin page</a>
            {% endif %}
        </li>
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'cart:cart' %}" class="basket"></a>
            {% endif %}
        </li>
    </ul>
    
</div>